# virtual environment
agentenv/
venv/
.env/

# Python cache
__pycache__/
*.pyc


# OAuth
sources/gmail/auth/credential.json
sources/gmail/auth/token.json

# ide
.idea/
.vscode/


#folders
scripts/
notification/
.env